# Terraform
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform/
.terraform.*
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local env files
.env
*.pem
*.key

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
